.show {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    min-height: 12rem;
    padding: 1rem 1rem 3.5rem 1rem;
    position: relative;
    margin: 1rem;
    h2 {
        font-weight: 500;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    .actions {
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: flex;
        gap: 1rem;
        .delete {
            cursor: pointer;
            transition: .12s all;
            &:hover {
                color: #FD5E53;
            }
        }
        .edit {
            cursor: pointer;
            transition: .12s all;
            &:hover {
                color: #A2F4AF;
            }
        }
    }
    .stars {
        pointer-events: none;
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }
}

.show-toast-delete {
    display: flex;
    align-items: center;
    button {
        margin-left: 1rem;
        background-color: #FD5E53;
        color: #fff;
        padding: .25rem;
        border-radius: 5px;
    }
}