.screen-center {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: #A2F4AF;
    color: #222;
    font-weight: 500; 
    padding: .35rem 2rem;  
    font-size: 1.03rem;
    border-radius: 4px;
}